body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
  }
  h1, h2, h3 {
    font-family: "Creepster", system-ui;
  }
  .comic-card {
    transition: transform 0.3s ease;
  }
  .comic-card:hover {
    transform: scale(1.05);
  }
  .creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  @keyframes rotar-infinito {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotacion-infinita {
    animation: rotar-infinito 20s linear infinite;
  }